<web-app xmlns="http://java.sun.com/xml/ns/javaee" 
         version="2.5" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<display-name>Archetype Created Web Application</display-name>
	
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>servlets.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	
	<servlet>
        <servlet-name>resetPW</servlet-name>
        <servlet-class>servlets.resetPW</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>resetPW</servlet-name>
        <url-pattern>/resetPW</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>search</servlet-name>
        <servlet-class>servlets.search</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>getData</servlet-name>
        <servlet-class>servlets.getData</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getData</servlet-name>
        <url-pattern>/getData</url-pattern>
    </servlet-mapping>
    
</web-app>